/* tablet responsive  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-container{
        flex-direction: column;
        gap: 40px;  
        margin: auto;
    }
    .nav-img-container{
        width: 100%;
        justify-content: center;

    }
    .nav-items-container{
        gap: 40px;
        width: 100%;

    }
    /* nav ends here  */

    /* banner section starts here  */
    .banner-container{
        flex-direction: column-reverse;
        }
        .banner-img-container{
            width: 100%;
        }
        .banner-img-container img{
            width: 100%;
        }
        .banner-items-container{

            width: 100%;
            margin-top: 100px;
            padding-bottom: 20px;

        }

        .banner-items-container h2{
            padding-top: 20px;

        }
    /* banner section ends here  */

    /* online games section starts here  */
    .online-games-container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        
    }
    .online-games{
        padding-left: 10px;
        padding-right: 10px;
    }

    .card img{
        width: 100%;
    }
/* online games section ends here  */


/* play instantly section starts here  */
.play-instantly-container{
    flex-direction: column;
    width: 100%;
}

.play-instantly-items-container{
    /* margin-left: 200px; */
    margin: 30px auto;
    
    }
  
    
    .image-parent-container{
        display: flex;
        justify-content: center;
    }
    .image-parent-container> img{
    width: 60%;
    }
    .image-child-container img{
        width: 60%;
    
    }
    
    .image-child-container{
        border-radius: 8px;
    /* border: 10px solid #FFF; */
    position: absolute;
    top: 57%;
    right: 45%;
    }
    
/* play instantly section ends here  */



/* ------------buttons section starts here--------------------  */

.buttons-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;


}

.button-style{
    border-radius: 50px;
background: #FFF;
width: 170px;
height: 80px;
display: flex;
    align-items: center; 
    gap: 10px;
    padding-left: 10px;

}
.btn-img{
    width: 60px;
    height: 60px;
}

.button-text{
    color: #0B0223;
font-size: 15px;
font-weight: 600;
padding-top: 29px;
padding-bottom: 28px;
}
/* -------------buttons section ends here----------------------  */

/* footer section starts here  */
/* footer section starts here  */
footer{
    height: 800px;
  
}

.footer-logo{
    margin: auto;
    width: 90%;
}
.footer-content a {
font-size: 14px;
font-weight: 600;
}
.footer-content {
    width: 90%;
    /* border: 2px solid red; */

    margin: auto;
    margin-top: 60px;

    grid-template-columns: repeat(3,110px);
    gap: 12px;
}


.footer-icons a {
   font-size: 20px;
   color: white;

}

.footer-icons{
    margin: auto;
    width: 90%;

    /* border: 2px solid red; */

    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,58px);
    gap: 25px;
}

.terms-and-condition a {
    font-size: 16px;
    font-weight: 500;
}
.terms-and-condition{
    margin: auto;
    width: 90%;
    /* margin: auto; */
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-content: center;
    gap: 60px;
}
footer .copyright{
    

    margin: auto;
    width: 200px;
}


/* footer section ends here  */
/* footer section ends here  */

}


/* mobile responsive  */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-items-container{
        flex-direction: column;
    }

    .nav-img-container{
        
        justify-content: center;
        margin-bottom: 60px;
    }

    .nav-items-container{
        gap: 36px;

    }

    .nav-items-container, 
    .nav-img-container{
        width: 100%;
        align-items: center;
    }

    /* nav ends here  */

    /* banner section starts here  */
    .banner-container{
    flex-direction: column-reverse;
    
    }
   
    .banner-img-container{
        width: 100%;
    }
    .banner-img-container img{
        width: 100%;
    }

    
.banner-items-container {
    margin-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 901px;
    height: 700px;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.list {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 17px;
}
    .banner-items-container h2 {
        padding-top: 20px;
        color: #0B0223;
        font-size: 25px;
        font-weight: 600;
    }
    
    .banner-items-container h1 {
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 24px;
    }
    
    .banner-items-container .fa-solid {
        padding-right: 20px;
    }
    
    .banner-items-container .btn-primary {
        margin-top: 20px;
    }
    
    .btn-primary {
        padding: 11px 20px;
        border-radius: 28px;
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        border: none;
    }
    
    .btn-pink {
        border-radius: 28px;
        background: #FF42A5;
        margin-right: 24px;
    }
    
    .btn-blue {
        border-radius: 28px;
        background: #4EC5F7;
    }
   
    /* banner section ends here  */


    /* online games section starts here  */
    .online-games-container{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        
    }
    .online-games{
        padding-left: 10px;
        padding-right: 10px;
    }
    .card img{
        width: 100%;
    }
/* online games section ends here  */



/* play instantly section starts here  */
.play-instantly-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    
}



.play-instantly-items-container{
/* margin-left: 200px; */
margin: 30px auto;

}
.play-instantly-container{
    flex-direction: column;
    width: 100%;
}

.image-parent-container{
    display: flex;
    justify-content: center;
    /* border: 3px solid blue; */
    /* margin: 0 0px; */
    position: relative;

}
.image-parent-container> img{
width: 80%;
}
.image-child-container img{
    width: 100%;

}


.image-child-container{
    /* border: 3px solid blue; */
    /* width: 100%; */

/* border: 10px solid #FFF; */
/* margin-right: 30px; */
position: absolute;
top: 57%;
right:60%;
}

.play-instantly-images{
    /* border: 3px solid red; */
    margin: 0 10px;
}
/* play instantly section ends here  */


/* ------------buttons section starts here--------------------  */

.buttons-section{
    width: 95%;

}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

.button-style{
    /* border: 2px solid red; */
    border-radius: 50px;
background: #FFF;
width: 130px;
height: 60px;
display: flex;
gap: 3px;
    align-items: center; 
    /* padding-left: 5px; */

}
.btn-img{
    width: 35px;
    height: 35px;
}

.button-text{
    color: #0B0223;
font-size: 11px;
font-weight: 600;
padding-top: 29px;
padding-bottom: 28px;
}
/* -------------buttons section ends here----------------------  */

/* footer section starts here  */
footer{
    height: 800px;
  
}

.footer-logo{
    margin: auto;
    width: 90%;
}
.footer-content a {
font-size: 14px;
font-weight: 600;
}
.footer-content {
    width: 90%;
    /* border: 2px solid red; */

    margin: auto;
    margin-top: 60px;

    grid-template-columns: repeat(3,110px);
    gap: 12px;
}


.footer-icons a {
   font-size: 20px;
   color: white;

}

.footer-icons{
    margin: auto;
    width: 90%;

    /* border: 2px solid red; */

    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,58px);
    gap: 25px;
}

.terms-and-condition a {
    font-size: 16px;
    font-weight: 500;
}
.terms-and-condition{
    margin: auto;
    width: 90%;
    /* margin: auto; */
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-content: center;
    gap: 60px;
}
footer .copyright{
    

    margin: auto;
    width: 200px;
}


/* footer section ends here  */

}
