@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav section starts here  */
nav {
    background: #FFF;
}

.nav-container {
    max-width: 1440px;
    margin: 38px auto;
    display: flex;
    align-items: center;

}

.nav-img-container {
    display: flex;
    gap: 20px;
    align-items: center;

    width: 50%;
}

.nav-img-container img {
    width: 86px;
    height: 40px;
    margin-left: 20px;
}

.nav-img-container p {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.text-color-span {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.follow-icon-container {
    display: flex;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    justify-content: space-evenly;

}

.fa-tiktok {
    font-size: 28px;
    color: black;
}

.youtube-icon {
    margin-right: 16px;
    font-size: 28px;
    color: red;

}

.follow-icon-container p {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* banner section starts here  */
.banner {
    background: #FFF;
    /* max-width: 1440px; */

    margin: auto;
}

.banner-container {
    /* max-width: 1440px; */
    /* margin: 38px auto; */
    display: flex;

}

.banner-items-container {
    width: 50%;
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    /* width: 901px;
    height: 700px;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
}

.banner-items-container ul {
    list-style: none;
}

.banner-items-container h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner-items-container h1 {
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-items-container .fa-solid {
    padding-right: 20px;
}

.banner-items-container .btn-primary {
    margin-top: 20px;
}

.btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn-pink {
    border-radius: 48px;
    background: #FF42A5;
    margin-right: 24px;
}

.btn-blue {
    border-radius: 48px;
    background: #4EC5F7;



}

.banner-img-container {
    width: 50%;
}
/* banner section ends here  */


/* online games section starts here  */
.online-games{
    margin: auto;
    max-width: 1440px;
}
.online-games h1{
    margin-top: 120px;
    color: #0B0223;
    text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
}

.online-games .watch-now-icon{
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
color: white;
font-size: 48px;
font-weight: 700;
}

.online-games .watch-now-text{
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

    /* text-align: center; */
    color: #F948B2;
    font-size: 20px;
    font-weight: 600;
    margin-left: -30px;
}

.online-games h6{
    color: #534C64;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-bottom: 48px;
}
.online-games-container{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin: 0 auto;
}

.card-img:hover .play-now{
 
   visibility:visible ;
}
.card-img img{
width: 100%;
}

.card-img img:hover{
    filter: brightness(0.5);
    border: 5px solid #F948B2;
    border-radius: 22px;
}
.card p{
    margin-top: 24px;
}

.card-img{
    position: relative;
    border-radius: 16px;

}
.card-img img{
    border-radius: 16px;

}
.play-now{
    position: absolute;
   top: 40%;
   left: 45%;
   visibility: hidden;
}
/* online games section ends here  */


/* play instantly section starts here  */
.play-instantly{
    margin-top: 120px;
}
.play-instantly-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.play-instantly-items-container h1{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
width: 341px;
height: 180px;
margin-bottom: 24px;
}
.play-instantly-items-container span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-instantly-items-container p{
    
/* width: 353px; */
color: #534C64;
font-size: 18px;
width: 353px;
}

.play-instantly-items-container{
margin-left: 200px;
}

.image-parent-container{
    position: relative;

}

.image-child-container{
    border-radius: 8px;
/* border: 10px solid #FFF; */
position: absolute;
top: 57%;
right: 75%;
}
.play-instantly-items-container{
    text-align: center;
}

/* play instantly section ends here  */

/* buttons section stars here  */

.buttons-section{
    margin: auto;
    margin-top: 200px;
    max-width: 1440px;
}

.button-style{
    border-radius: 50px;
background: #FFF;
width: 243px;
height: 80px;
display: flex;
    align-items: center; 
    gap: 16px;
    border: none;
    padding-left: 10px;

}
.btn-img{
    width: 60px;
    height: 60px;
}

.button-text{
    color: #0B0223;
font-size: 20px;
font-weight: 600;
padding-top: 29px;
padding-bottom: 28px;
}

.button-style:hover{
    border: 2px solid #F948B2;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: center;

}

/* buttons section ends here  */

/* footer starts here  */
footer{
    /* border: 2px solid blue; */
    margin-top: 120px;
    background: #0B0223;
    height: 636px;
}

.footer-logo{
    display: flex;
    gap: 20px;
    padding-top: 120px;
    justify-content: center;
}



.footer-logo p {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.text-color-span {
    color: #FF42A5;
}

.footer-content a {
    text-decoration: none;
    color: #FFF;
font-size: 18px;
font-weight: 600;
}
.footer-content {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6,110px);
    justify-content: center;
    gap: 60px;
}

.footer-icons a {
    text-decoration: none;
   font-size: 28px;
   color: white;

}

.footer-icons{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6,58px);
    justify-content: center;
    gap: 40px;
}

.terms-and-condition a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}
.terms-and-condition{
    margin-top: 60px;
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: repeat(4,172px);
    justify-content: center;
    gap: 60px;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
    /* margin-top: 18px; */
    /* margin-bottom: 130px; */
}



/* footer ends here  */
